.grocery-navbar-wrapper{
    background-color: #008000;
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.grocery-navbar-left-container{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.grocery-navbar-heading-container{
    color: #ffffff;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.grocery-navbar-search-container {
    display: flex;
    align-items: center;
    background-color: #ffffff; 
    border-radius: 10px;  
    padding: 02px 10px;  /* Padding inside the container */
    width: 450px;  /* Maximum width for the search container */
    margin: 0 auto;  /* Center the container */
  }
  
  .grocery-navbar-search-input {
    flex: 1;  
    border: none;  
    background: none;  
    outline: none;  
    padding: 10px;  
    font-size: 16px;  
    border-radius: 20px 0 0 20px;  
  }
  
  .grocery-navbar-search-icon {
    color: #666;  
    padding: 10px;  
    cursor: pointer;  
    border-radius: 0 20px 20px 0;  
  }


.grocery-navbar-right-container{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}


.grocery-navbar-location-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    width: 35%;
    gap: 10px;
    cursor: pointer;
}

.grocery-navbar-login-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.grocery-navbar-login-button {
    background-color: #ffffff;
    color: #008000;
    border: none;
    padding: 10px 35px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.grocery-navbar-more-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15%;
    gap: 10px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.grocery-navbar-cart-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15%;
    gap: 10px;
    color: #ffffff;
    font-size: 18px;
}



.grocery-navbar-company-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #ffffff;
    cursor: pointer;
    background-color: darkgreen;
    font-size: 22px;
}