.navcard-wrapper {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .navcard-item-container-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  
  .navcard-items-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    cursor: pointer;
    font-size: 19px;
  }
  
  .navcard-menu-item:hover .navcard-dropdown-icon {
    transform: rotate(180deg);
  }
  
  .navcard-menu-button {
    display: none;
  }
  
  
  
  
  /* Small Devices (Portrait Tablets and Large Phones) */
  @media (max-width: 768px) {
    .navcard-menu-button {
      display: block;
      /* Show hamburger menu on small screens */
    }
  
    .navcard-item-container-wrapper {
      display: none;
      /* Hide the horizontal menu on small screens */
    }
  }
  
  
  /* Medium Devices (Landscape Tablets) */
  @media (min-width: 768px) and (max-width: 991px) {
    .navcard-item-container-wrapper {
      display: block;
    }
  
    .navcard-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
    }
  
  }