/* Navbar Wrapper */
.seller-navbar-wrapper {
    display: flex;
    align-items: center;
    height: 8vh; /* Adjust height as needed */
    background-color: #ffffff; /* White background */
    padding: 0 20px; /* Padding for content */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Shadow for navbar */
}

/* Company Name Container */
.seller-navbar-company-name-container {
    width: 10%; /* Adjust width as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0000ff; /* Blue color */
}

.seller-navbar-company-name {
    font-size: 24px; /* Adjust font size as needed */
}

/* Navigation Menu Container */
.seller-navbar-nav-menu-list-container {
    width: 70%; /* Adjust width as needed */
}

.seller-navbar-nav-menu-list {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 25px; /* Gap between menu items */
}

.seller-menu-item {
    position: relative;
    cursor: pointer;
}

.seller-navbar-menu-text {
    margin-right: 5px;
    font-weight: bold; /* Make menu text bold */
}

.seller-navbar-menu-icon {
    transition: transform 0.3s ease; /* Smooth transition for icon rotation */
}

.seller-menu-item:hover .seller-navbar-menu-icon {
    transform: rotate(180deg); /* Rotate icon on hover */
    color: #0000ff;
}

/* Dropdown Content */
.seller-navbar-dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff; /* White background */
    box-shadow: 0 8px 16px rgba(0,0,0,0.1); /* Shadow for dropdown */
    z-index: 1;
    display: none; /* Hide dropdown by default */
    padding: 10px;
    min-width: 200px; /* Minimum width for dropdown */
}

.seller-menu-item:hover .seller-navbar-dropdown-content {
    display: block; /* Show dropdown on parent hover */
}

.seller-nav-menu-list {
    list-style: none;
    padding: 6px 0px;
    margin: 0;
}

.seller-nav-menu-list li {
    padding: 8px 0;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.seller-nav-menu-list li:hover {
    background-color: #ddd; /* Light gray background on hover */
}

.seller-navbar-menu-text{
    cursor: pointer;
    color: rgb(113, 113, 113);
}

.seller-navbar-menu-text:hover{
    color: #0000ff;
}

/* Login and Start Selling Buttons */
.seller-navbar-login-container {
    width: 20%; /* Adjust width as needed */
    display: flex;
    justify-content: space-around;
}

.seller-navbar-login, .seller-navbar-sell {
    cursor: pointer;
    padding: 0px 30px;
    color: #333333; /* Dark text color */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for colors */
}


.seller-navbar-sell{
    background-color: #ffd700; /* Yellow background */
}

.seller-navbar-sell:hover {
    background-color: #ffcc00; /* Darker yellow on hover */
}
