

.navcard-full-wrapper{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navcard-container{
    display: flex;
    flex-direction: row;
}

.navcard-list-container{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    cursor: pointer;
}

.grocery-navcard-menu-item{
    position: relative;
    cursor: pointer;
}


.grocery-navcard-menu-text{
    margin-right: 5px;
    font-weight: bold;
    font-size: 18px;
}

.grocery-navcard-menu-text:hover{
    color: #0000ff;
}

.grocery-navcard-dropdown-icon{
    transition: transform 0.3s ease;
}

.grocery-navcard-menu-item:hover .grocery-navcard-dropdown-icon{
    transform: rotate(180deg); /* Rotate icon on hover */
    color: #0000ff;
}

.grocery-navcard-dropdown-content{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff; /* White background */
    box-shadow: 0 8px 16px rgba(0,0,0,0.1); /* Shadow for dropdown */
    z-index: 1;
    display: none; /* Hide dropdown by default */
    padding: 10px;
    min-width: 200px; /* Minimum width for dropdown */
}

.grocery-navcard-menu-item:hover .grocery-navcard-dropdown-content{
    display: block;
}

.grocery-navcard-dropdown-list{
    list-style: none;
    padding: 6px 7px;
    margin: 0;
}

.grocery-navcard-dropdown-list li{
    padding: 8px 0;
    cursor: pointer;
}

.grocery-navcard-dropdown-list li:hover{
    color: #0000ff;
}






